/* =============================================================================
 * Waybar configuration
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* Color Scheme: Arc-Dark */
@define-color highlight #5294e2;
@define-color base1 #404552;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* Waybar container */
#waybar {
    background: rgba(0, 0, 0, 0.6);
    color: #bebebe;
    font-family: Source Code Pro, sans-serif;
    font-size: 13px;
}

/* General module styles */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#custom-vpn,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
    padding: 0.5rem 0.6rem;
    margin: 1px 0;
}


/* -----------------------------------------------------------------------------
 * Module-specific styles
 * -------------------------------------------------------------------------- */

/* Battery styles */
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* CPU styles */
#cpu {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning {
    animation-name: blink-warning;
    animation-duration: 3s;
    color: orange;
}

#cpu.critical {
    animation-name: blink-critical;
    animation-duration: 2s;
    color: red;
}

/* Memory styles */
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    animation-name: blink-warning;
    animation-duration: 3s;
    color: orange;
}

#memory.critical {
    animation-name: blink-critical;
    animation-duration: 2s;
    color: red;
    padding: 0 5px;
}

/* Mode styles */
#mode {
    background: @highlight;
    border-bottom: 3px solid transparent;
    color: white;
    margin-left: 5px;
    padding: 7px;
}

/* Network styles */
#network.disconnected,
#custom-vpn.disconnected {
    color: orange;
}

/* Pulseaudio styles */
#pulseaudio {
    padding-top: 6px;
}

#pulseaudio.muted {
    color: @highlight;
}

/* Temperature styles */
#temperature.critical {
    color: red;
}

/* Window and workspace styles */
#window {
    padding: 0.5rem 0.6rem;
    font-weight: bold;
}

#workspaces {}

#workspaces button {
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid @highlight;
}

#workspaces button.urgent {
    border-color: #c9545d;
}

/* Custom styles */
#custom-power,
#custom-launcher {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;
}

/* Backlight styles */
#backlight.icon {
    padding-right: 1px;
    font-size: 13px;
}